body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.select-wrapper input.select-dropdown {
  font-size: 2em;
}
.dropdown-content {
  border-radius: 2px;
}
.dropdown-content li > span {
  font-size: 2em;
}
